.top {
    display: flex;
    justify-self: center;
    gap: 100px;
    color: gray;
}

header {
    background-color: rgb(43, 43, 43);
}

body {
    width: auto;
    background-color: black;
}

.footer {
    background-color: rgb(43, 43, 43);
}

.search {
    display: flex;
    border-radius: 10px rgb(173, 173, 174);
    gap: 100px;
}

.center {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.c1 {
    background-color: rgb(96, 100, 100);
    padding: 50%;
    width: 200px;
    margin-left: 4px;
    margin-right: 4px;
}

.c2 {
    background-color: rgb(68, 69, 69);
    padding: 50%;
    width: 200px;
    margin-left: 4px;
    margin-right: 4px;
}

.c3 {
    background-color: rgb(96, 100, 100);
    padding: 50%;
    width: 200px;
    margin-left: 4px;
    margin-right: 4px;
}

.c {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 31.91%;
    height: 800px;
}