nav {
    background-color: #0c4ca3;
    padding: 1px;
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    justify-items: center;
    list-style: none;
    gap: 20px;
}

.banner-qc {
    justify-content: center;
    margin: 10px 0px;
    display: flex;
    border: 2px solid gray;
}

.banner {
    display: flex;
    justify-content: center;
}


header {
    justify-content: center;
    border-bottom: 10px solid #f1f1f2;
}

li {
    padding: 15px;
}

.border {
    border-right: 2px solid gray;

}

.danhmuc-lienket {
    color: #ffffff;
    text-decoration: none;
    font-family: Roboto, Arial, Tahoma;

}

.news_window {
    display: flex;
    flex-direction: row;
    border-right: 1px solid rgb(199, 187, 187);
    justify-content: center;
    gap: 20px;
    margin: auto;
}

.news {
    background-color: rgb(255, 255, 255);

}

.thong-bao {
    background-color: #f1f1f2;
}

.thong-bao-list {
    justify-self: center;
    display: table-row;
    list-style-type: disc;
    padding-left: 20px;
    font-size: 18px;
}


.anh {
    gap: 40px;
    margin: 10px;
}

.anh-qc {
    margin: 10px;
    border: 2px solid gray;
}

.tin-tuc a {
    color: #1b66d8;
    font-size: 25px;
    margin: 10px;
    border-bottom: #125bc0;
}

#bottom,
#bottom1,
#bottom2,
#bottom3 #bottom4 {
    border-bottom: 10px solid rgb(26, 142, 250);
}

body {
    /* Hoặc display: grid */
    justify-content: center;
    /* Căn giữa thẻ bao bọc theo chiều ngang */
    background: fixed;
}



.footer {
    background-color: #125bc0;
    color: white;
    text-align: start;
    padding: 1px 0;
    margin-top: 2px;
    font-size: 17px;
    font-family: Roboto, Arial, Tahoma;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-image: linear-gradient(183456deg, #2a4b7a, #8598ed);
}

.partner {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    border-top: 2px solid gray;
    padding-top: 10px;
    background-image: linear-gradient(183456deg, #3b3d3f, #6c6b77);
}