body {
    padding: 0px;
    margin: 0px;
    background-color: #ccc;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.m {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 24px;
}

.m1 {
    justify-items: center;
    padding-bottom: 50px;
}

.m2 {
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    border-top: 1px solid rgb(187, 187, 187);
}

.m4 {
    padding-top: 5px;
}

.m4 div {
    padding: 3px;
}

.m4 input {
    width: 38vh;
    border-color: rgb(180, 180, 180);
    border-radius: 7px;
}

.m5 {
    justify-items: center;
    align-items: center;
}

.m5 a {
    text-decoration: none;
}

.m5 button {
    background-color: rgb(34, 170, 75);
    border: none;
    padding: 6px 50px;
    border-radius: 6px;
}

.select {
    display: flex;
    gap: 8px;
    justify-content: space-between;

}

.select select {
    padding: 7px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;

}


.g-select {
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.g-select label {
    padding: 7px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}