body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(180deg, #60615f, #676767);
    animation: doimau 2s infinite;
}

@keyframes doimau {
    0% {
        background-color: rgb(239, 188, 188);
    }

    20% {
        background-color: rgb(227, 203, 157);
    }

    40% {
        background-color: rgb(245, 245, 165);
        color: black;
    }

    60% {
        background-color: rgb(144, 237, 144);
    }

    80% {
        background-color: rgb(153, 153, 237);
    }

    100% {
        background-color: rgb(248, 192, 248);
    }
}

.container {
    justify-self: center;
    align-content: center;
    border-radius: 10px;
    background-image: linear-gradient(180deg, #b8f2ff, #7e7e7e);
    padding: 50px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    gap: 100px;
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(22, 21, 21, 0.23);

}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border-radius: 10px;
    border: none;
}

.b {
    justify-self: center;
    align-content: center;
    margin-top: 10px;
}

.a {
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

img {
    border-radius: 10px;
}

button {
    cursor: pointer;
    border: none;
    padding: 10px;
    background-color: rgb(89, 131, 249);
    border-radius: 10px;
}